#root {
  
  max-width: 400px;
  margin: 2em auto;
  background-color: #1A1B21;
  color: white;
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  box-shadow: -4px 1px 5px #e1287e;
}
.headshot{
  width: 100%;
  border-radius: 1em 1em 0 0;

}

.bio {
  padding: 2em;
  color: #DCDCDC;

}
p{
    font-size: 0.64rem;
}

.links{
  padding: 0.7em 0.8em;
  border-radius: 10px;
  width: 115px;
  background-color: white;
  text-decoration: none;
  color: black;
  font-size: 0.875rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  gap: 0.4em;
}
.links:hover{
    box-shadow: 2px 2px 5px #e1287e;
    cursor: pointer;
}
.contacts{
  text-align: center;
}
h1{
  font-size: 1.6rem;
  margin-bottom: 0;
}
.title{
  font-size: 0.8rem;
  color: #e1287e;
  font-weight: normal;
}

h3{
  font-size: 1rem;
}
.contacts p{
  font-size: 0.64rem;
  color: #f5f5f5;
}
.buttons{
  display: flex;
  justify-content: center;
  gap: 1em;
}
#LinkedIn{
  background-color: #5093E2;
  color: white;
}
footer{
  background-color: #161619;
  padding: 1em;
  display: flex;
  justify-content: space-evenly;
  border-radius: 0 0 1em 1em;
}

.social:hover{
  opacity: 50%;
}