:root {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background-color: #23252C;

}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
